In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline

In [22]:
referral_df = pd.read_excel('../data/TEIS Compiled Monthly.xlsx')

In [23]:
monthly_df = pd.read_excel('../data/TEIS Compiled Monthly.xlsx')

In [24]:
monthly_df.head(10)

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification/ Referral Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1,2016,1,NaN,NaN,2017-08-09,NaN,1,Qtr 1,NaN
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1,2016,1,NaN,NaN,2016-07-31,1.0,1,Qtr 1,NaN
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1,2016,1,NaN,NaN,2019-02-05,NaN,1,Qtr 1,NaN
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1,2016,1,NaN,NaN,2018-12-06,NaN,1,Qtr 1,NaN
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1,2016,1,NaN,NaN,2018-04-18,NaN,1,Qtr 1,NaN
5,GN,401584,2016-03-27,Montgomery,Transitional,Eligibility,A,Tracey Hardiman,2016-07-01,2016-07-05,...,1,2016,1,NaN,NaN,2019-03-27,NaN,1,Qtr 1,NaN
6,GN,404087,2014-10-29,Davidson,Competitive,Notification,I,Mary Jane Ratliff,2016-07-01,NaT,...,1,2016,1,NaN,NaN,2017-10-29,NaN,1,Qtr 1,NaN
7,GN,402274,2015-12-10,Montgomery,Transitional,Eligibility,I,Tina Regenwether,2016-07-01,2016-07-07,...,1,2016,1,NaN,NaN,2018-12-10,NaN,1,Qtr 1,NaN
8,MD,383596,2014-06-27,Shelby,Transitional,Evaluation,I,Leah Tolbert,2016-07-01,NaT,...,1,2016,1,NaN,NaN,2017-06-27,NaN,1,Qtr 1,NaN
9,MD,396935,2014-12-12,Shelby,Transitional,Eligibility,A,Leah Tolbert,2016-07-01,2016-07-21,...,1,2016,1,NaN,NaN,2017-12-12,NaN,1,Qtr 1,NaN

In [81]:
monthly_et = monthly_df.loc[monthly_df['POE'] == 'ET']
monthly_et

referral_df = referral_df.loc[monthly_df['POE'] == 'ET']
referral_df
monthly_et = monthly_df.loc[monthly_df['Referral Source Category'] == 'ET']
monthly_et

KeyError: 'Referral Source Category'

In [35]:
referral_df.tail()

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification/ Referral Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
113251,UC,528759,2021-04-07,Sumner,Competitive,Evaluation,A,Sherry Roberts-DS,2022-05-16,2022-05-26,...,1,2021,1,NaN,NaN,2024-04-07,NaN,4,Qtr 4,NaN
113252,UC,528534,2022-03-13,Sumner,Competitive,IFSP,A,Robyn Hogan,2022-05-11,2022-05-23,...,1,2021,1,NaN,NaN,2025-03-13,NaN,4,Qtr 4,NaN
113253,UC,528430,2022-01-05,Cumberland,Transitional,Eligibility,A,Lisa Davis,2022-05-10,2022-05-18,...,1,2021,1,NaN,NaN,2025-01-05,NaN,4,Qtr 4,NaN
113254,UC,528253,2020-09-12,Sumner,Competitive,IFSP,A,Taylor Lee,2022-05-06,2022-05-11,...,1,2021,1,NaN,NaN,2023-09-12,NaN,4,Qtr 4,NaN
113255,UC,528535,2022-02-08,Smith,Transitional,Evaluation,A,Sherry Roberts-DS,2022-05-11,2022-05-27,...,1,2021,1,NaN,NaN,2025-02-08,NaN,4,Qtr 4,NaN

In [36]:
pd.set_option("display.max_columns", None)

referral_df.head()

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification/ Referral Date,Parent Consent Date,Referral Source Type Name,Initial Eligibility,Initial Eligibility Date,Initial IFSP Date,Latest IFSP Date,Exit Reason,Exit Date,Fiscal Year,Notification Month,Tenn Region,Referral Count,Evaluation Count,Eligibility Count,IFSP Count,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,Foster Parent,Eligible,2016-07-29 00:00:00,NaN,NaN,NaN,NaN,2016-2017,Jul,Eastern,1,1.0,1.0,NaN,1,2016,1,NaN,NaN,2017-08-09,NaN,1,Qtr 1,NaN
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,DCS,NaN,NaN,NaN,NaN,Referral less than 45 days,2016-07-01 00:00:00,2016-2017,Jul,Eastern,1,NaN,NaN,NaN,1,2016,1,NaN,NaN,2016-07-31,1.0,1,Qtr 1,NaN
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,DCS,Eligible,2016-08-01 00:00:00,NaN,NaN,NaN,NaN,2016-2017,Jul,Eastern,1,1.0,1.0,NaN,1,2016,1,NaN,NaN,2019-02-05,NaN,1,Qtr 1,NaN
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,PCP,Eligible,2016-08-05 00:00:00,2016-08-10 00:00:00,2016-08-10 00:00:00,NaN,NaN,2016-2017,Jul,Eastern,1,1.0,1.0,1.0,1,2016,1,NaN,NaN,2018-12-06,NaN,1,Qtr 1,NaN
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,Parent,Eligible,2016-07-27 00:00:00,2016-07-28 00:00:00,2016-07-28 00:00:00,NaN,NaN,2016-2017,Jul,Eastern,1,1.0,1.0,1.0,1,2016,1,NaN,NaN,2018-04-18,NaN,1,Qtr 1,NaN

In [37]:
pd.reset_option('max_columns')
monthly_df.head()

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Service Coordinator,Notification/ Referral Date,Parent Consent Date,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
0,ET,403339,2014-08-09,Blount,Transitional,Eligibility,A,Kristi Borer,2016-07-01,2016-07-01,...,1,2016,1,NaN,NaN,2017-08-09,NaN,1,Qtr 1,NaN
1,FT,404085,2013-07-31,Unicoi,At-Risk,Notification,I,Jennifer Terranera - 45 days,2016-07-01,NaT,...,1,2016,1,NaN,NaN,2016-07-31,1.0,1,Qtr 1,NaN
2,FT,403623,2016-02-05,Sullivan,Transitional,Eligibility,A,Amy Talbert,2016-07-01,2016-07-20,...,1,2016,1,NaN,NaN,2019-02-05,NaN,1,Qtr 1,NaN
3,FT,404157,2015-12-06,Sullivan,Transitional,IFSP,A,Candice Cradic,2016-07-01,2016-07-22,...,1,2016,1,NaN,NaN,2018-12-06,NaN,1,Qtr 1,NaN
4,FT,404154,2015-04-18,Hawkins,At-Risk,IFSP,A,Kathy Jeffries,2016-07-01,2016-07-18,...,1,2016,1,NaN,NaN,2018-04-18,NaN,1,Qtr 1,NaN

In [45]:
monthly_df['IFSP Count'].count()

8010

In [29]:
print(monthly_df['POE'].max())

UC

In [34]:
monthly_df.groupby('Service Coordinator').count()

,POE,Child ID,DOB,County Name,County SES,Child Phase,Active,Notification/ Referral Date,Parent Consent Date,Referral Source Type Name,...,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,third DOB,Late Referral,Qtr,QTR,Referral Source Category
Service Coordinator,,,,,,,,,,,,,,,,,,,,,
A.J. Cowan,55,55,55,55,55,55,55,55,52,55,...,55,55,55,0,0,55,2,55,55,0
Aaron Collins,159,159,159,159,159,159,159,159,145,159,...,159,159,159,0,0,159,3,159,159,0
Abigail Gettinger,13,13,13,13,13,13,13,13,12,13,...,13,13,13,0,0,13,0,13,13,0
Adreean Shanklin,7,7,7,7,7,7,7,7,6,7,...,7,7,7,0,0,7,0,7,7,0
Adrianne McPeake,108,108,108,108,108,108,108,108,104,108,...,108,108,108,0,0,108,1,108,108,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virginia Thomas,36,36,36,36,36,36,36,36,36,36,...,36,36,36,0,0,36,1,36,36,0
Wendy Burton,433,433,433,433,433,433,433,433,268,433,...,433,433,433,0,0,433,7,433,433,0
Wendy Freeman,1866,1866,1866,1866,1866,1866,1866,1866,688,1866,...,1866,1866,1866,0,0,1866,25,1866,1866,0
Yalunda Whiteside,288,288,288,288,288,288,288,288,278,288,...,288,288,288,0,0,288,11,288,288,0
Yolanda McGee,358,358,358,358,358,358,358,358,261,358,...,358,358,358,0,0,358,7,358,358,0

In [41]:
referral_df.groupby(['Service Coordinator']).sum()

,Child ID,Referral Count,Evaluation Count,Eligibility Count,IFSP Count,Service Coordinator Counter,Fiscal Year.1,Child Count,2012 Child Count,2013 Child Count,Late Referral,Qtr,Referral Source Category
Service Coordinator,,,,,,,,,,,,,
A.J. Cowan,27400015,55,55.0,55.0,11.0,55,111118,55,0.0,0.0,2.0,140,0.0
Aaron Collins,78457170,159,159.0,159.0,39.0,159,321190,159,0.0,0.0,3.0,412,0.0
Abigail Gettinger,6636182,13,13.0,13.0,3.0,13,26273,13,0.0,0.0,0.0,25,0.0
Adreean Shanklin,2830371,7,6.0,0.0,0.0,7,14112,7,0.0,0.0,0.0,7,0.0
Adrianne McPeake,53696767,108,108.0,108.0,21.0,108,218196,108,0.0,0.0,1.0,282,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Virginia Thomas,18593106,36,36.0,36.0,5.0,36,72756,36,0.0,0.0,1.0,106,0.0
Wendy Burton,190093014,433,275.0,244.0,67.0,433,873571,433,0.0,0.0,7.0,1066,0.0
Wendy Freeman,883078307,1866,749.0,699.0,5.0,1866,3767596,1866,0.0,0.0,25.0,4798,0.0
Yalunda Whiteside,131806361,288,288.0,288.0,97.0,288,581308,288,0.0,0.0,11.0,673,0.0
Yolanda McGee,158986773,358,248.0,193.0,57.0,358,722321,358,0.0,0.0,7.0,913,0.0

In [87]:
referral_df.groupby(['Referral Source Category']).count()

KeyError: 'Referral Source Category'

In [74]:
referral_df.groupby(['Service Coordinator']).count()

                     Child ID   POE
Service Coordinator
A.J. Cowan                 55    55
Aaron Collins             159   159
Abigail Gettinger          13    13
Adreean Shanklin            7     7
Adrianne McPeake          108   108
...                       ...   ...
Virginia Thomas            36    36
Wendy Burton              433   433
Wendy Freeman            1866  1866
Yalunda Whiteside         288   288
Yolanda McGee             358   358

[419 rows x 2 columns]

In [47]:
referral_df = referral_df[['Service Coordinator', 'Child ID','POE']]
referral_df

                 Service Coordinator  Child ID POE
0                       Kristi Borer    403339  ET
1       Jennifer Terranera - 45 days    404085  FT
2                        Amy Talbert    403623  FT
3                     Candice Cradic    404157  FT
4                     Kathy Jeffries    404154  FT
...                              ...       ...  ..
113251             Sherry Roberts-DS    528759  UC
113252                   Robyn Hogan    528534  UC
113253                    Lisa Davis    528430  UC
113254                    Taylor Lee    528253  UC
113255             Sherry Roberts-DS    528535  UC

[113256 rows x 3 columns]

In [55]:
monthly_df = monthly_df[['Service Coordinator', 'Child ID','POE']]
monthly_df

                 Service Coordinator  Child ID POE
0                       Kristi Borer    403339  ET
1       Jennifer Terranera - 45 days    404085  FT
2                        Amy Talbert    403623  FT
3                     Candice Cradic    404157  FT
4                     Kathy Jeffries    404154  FT
...                              ...       ...  ..
113251             Sherry Roberts-DS    528759  UC
113252                   Robyn Hogan    528534  UC
113253                    Lisa Davis    528430  UC
113254                    Taylor Lee    528253  UC
113255             Sherry Roberts-DS    528535  UC

[113256 rows x 3 columns]

In [85]:
monthly_df.(['Referral Source Category']).counts()

SyntaxError: invalid syntax (2550698250.py, line 1)

In [86]:
referral_df.groupby(['Referral Source Category']).count()

KeyError: 'Referral Source Category'